/* general styles */
*, *:before, *:after, {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 2em;
}

.container {
  margin: 0 auto;
  width: 420px;
  display: block;
}

/* navigcation */
nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 405px; /* I don't know where the extra 15px are coming from, but I subtracted it to fit 420px width */
  background-color: #000;
} 

/* restaurant list */
.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.location {
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid #a1a0a2;
  background-color: #dbd9db;
}

.location:hover {
  background-color: orange;
}

.content, .arrow {
  display: inline-block;
}

.content {
  width: 89%;
}
.content h1 {
  font-size: 1.8em;
  font-weight: 900;
}

.content h3 {
  font-size: 1.4em;
}

.arrow {
  width: 10%;
  text-align:right;
  vertical-align: top;
  padding-top: 10px;
}
